<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
  <header>
      <% include ./partials/_header %>
  </header>
  <main>
    <% if(userData){ %>
    <form id="create" method="GET" action="/urls/new">
      <input type="submit" value="ADD NEW">
    </form>
    <% } %>
    <div class="row">
      <div>
        
        <ul>
          <% for (let url in urls) { %>
              <% if (urls.hasOwnProperty(url)) { %>
                  <li >
                    <a href="/u/<%=`${url}`%>"><%= `http://localhost:8080/u/${url}` %></a> <%= `: ${urls[url].longURL}` %>
                    <form id="delete" method="POST" action="/urls/<%= `${url}`%>/delete">
                      <input type="submit" value="Delete">
                      <a href="/urls/<%=`${url}`%>">EDIT</a>
                    </form>
                  </li>                
              <% } %>
            <% }; %>
        </ul>
        <% if(!userData){ %>
          PLEASE LOGIN FIRST!
        <% } %>
      </div>
    </div>
  </main>
  </body>
</html>